@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    @apply text-gray-900 bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 8s linear infinite;
  }
}